#sampleTable
{
    font-size: 12px;
}

#sampleTable tr td
{
    padding: 10px;
}

#step-1 div {
    margin: 0 auto;
}

.swMain .stepContainer div.content
{
    overflow:auto;
    width: 100%;
}

.swMain .stepContainer
{
    overflow-y: hidden;
    width: 100%;
}

#sampleControls
{
    margin: 0 auto;
    width: 1170px;
    font-size: 14px;
    padding: 4px;
}

#sampleGrid
{
    height: 262px;
    width: 300px;
    float: left;
    margin-top: 6px;
}

#sampleAndClassGrid
{
    height: 262px;
    width: 320px;
    float: left;
    margin-top: 6px;
    margin-left: 4px;
}


#classEntry
{
    float: left;
    margin-top: 80px;
    margin-left: 20px;
}

#assignClassBtn
{
    margin-left: 10px;
    float: left;
}

#className
{
    width: 240px;
}

#classesTableDiv
{
    /*float: right;*/
}

#classesGrid
{
    height: 225px;
    width:  600px; /*335px;*/ /* 395px; */
    /*float: left;*/
    /*margin-top: 6px;*/
    margin-right: 15px;
}

#classToolbar
{
    margin-top: 6px;
    width: 600px; /*395px;*/
}

#assignClassDiv
{
    width: 65px;
    float: left;
    margin-top: 110px;
}

#classAssignmentSummary
{
    width: 950px;
    height: 262px;
    margin-left: 10px;
    margin-top: 6px;
    background-color: transparent !important;
}

#saveCLS
{
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    font-weight: bold;
    margin-top: 50px;
}

#saveCLS div
{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-weight: normal;
    /*padding: 8px;*/
}

#saveCLS input[type=text]
{
    width: 180px;
}

#saveCLS input[type=radio]
{
    padding: 8px;
    margin-top: 6px;
}

#selectGpDir
{
    margin-top: 5px;
    padding: 2px;
}

/*
#saveCLS input
{
    margin-top: 50px;
    margin-left: 4px;
    width: 200px;
}*/

.header
{
    border-bottom: 1px solid #99bbe8 !important;
    height: 28px;
    overflow: hidden;
    color: #444444;
    font-size: 13px;
    text-align: center;
    padding: 7px;
    background-image: -webkit-linear-gradient(#dae6f3, #c2d5ed);
    background-image: -moz-linear-gradient(#dae6f3, #c2d5ed);
    background-image: -ms-linear-gradient(#dae6f3, #c2d5ed);
    background-image: -o-linear-gradient(#dae6f3, #c2d5ed);
    background-image: linear-gradient(#dae6f3, #c2d5ed);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffdae6f3', endColorstr='#ffc2d5ed', GradientType=0);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 420px;
}

.w2ui-node-caption
{
    white-space: normal !important;
}

.swMain {
    width: 1155px;
    padding: 0;
    margin: 0;
}


.swMain ul.anchor li a .stepNumber
{
    font: bold 34px Verdana, Arial, Helvetica, sans-serif;
    width: 21px;
}

.swMain .stepContainer .StepTitle {
    font: bold 15px Verdana, Arial, Helvetica, sans-serif;
    padding:3px;
}

.swMain ul.anchor li a {
    height:51px;
    width:215px;
}

.swMain ul.anchor li a .stepDesc{
    font: bold 15px Verdana, Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a .stepDesc small{
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
}

button.btn
{
    cursor: pointer;
}

#creator{
    border: 2px solid blue;
}


.w2ui-tag .w2ui-tag-body
{
    background-color: red;
}








